@import "tailwindcss";
@import "tailwindcss/preflight";
@import "tailwindcss/utilities";

body {
  background-color: #F7FAFC; /* light gray background */
  color: #2D3748;            /* dark gray text */
  font-family: 'Poppins', ui-sans-serif, system-ui;
}

